In [1]:
import pandas as pd

In [2]:
excel_file = 'pload.xlsx'

In [3]:
df1 = pd.read_excel(excel_file, sheet_name='inty')

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    24 non-null     datetime64[ns]
 1   HE      24 non-null     int64
 2   Value   24 non-null     int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 704.0 bytes

In [14]:
df1.head()

        Date  HE  Value
0 2023-01-01   1      1
1 2023-01-01   2      2
2 2023-01-01   3      3
3 2023-01-01   4      4
4 2023-01-01   5      5

In [5]:
df2 = pd.read_excel(excel_file, sheet_name='timey')

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    24 non-null     datetime64[ns]
 1   HE      24 non-null     float64
 2   Value   24 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 704.0 bytes

In [13]:
df2.head()

        Date  HE  Value
0 2023-01-01   1      1
1 2023-01-01   2      2
2 2023-01-01   3      3
3 2023-01-01   4      4
4 2023-01-01   5      5

In [15]:
df3 = pd.read_excel(excel_file, sheet_name='stringy')

In [16]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    24 non-null     datetime64[ns]
 1   HE      24 non-null     int64
 2   Value   24 non-null     int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 704.0 bytes

In [18]:
df3.head()

        Date  HE  Value
0 2023-01-01   1      1
1 2023-01-01   2      2
2 2023-01-01   3      3
3 2023-01-01   4      4
4 2023-01-01   5      5

In [19]:
df4 = pd.read_excel(excel_file, sheet_name='datetimey')

In [20]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    24 non-null     datetime64[ns]
 1   HE      24 non-null     float64
 2   Value   24 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 704.0 bytes

In [21]:
df4.head()

        Date            HE  Value
0 2023-01-01  44979.041667      1
1 2023-01-01  44979.083333      2
2 2023-01-01  44979.125000      3
3 2023-01-01  44979.166667      4
4 2023-01-01  44979.208333      5